<div class="columns is-vcentered mb-6 mt-6">
  <div class="column is-one-third is-offset-one-fifth">
    <div class="content">
    <h1 class="title is-4">glennjamin</h1>
    <p>Ruby on Rails developer from Ohio.<br />
      father | husband | cyclist | amateur photographer</p>
    </div>
  </div>
  <div class="column">
    <%= image_tag("glennjamin.jpg",  size: "250")  %>
  </div>
</div>
<%#= render 'home/page_descriptions' %>


<div class="columns is-centered">

  <div class="column is-three-fifths is-size-5 is-size-5-mobile">
<!--    <h1 class="title is-1">Posts</h1>-->
    <% if @posts.any? %>
      <% @posts.each do |post| %>
          <article>
            <header>
              <h2 class="title is-3"><ul><%= post.title %></ul></h2>
            </header>
            <p class="has-text-grey is-size-6 mb-4"><%= post.publish_date.to_s(:date_pretty) %></p>


            <p class="mb-4"><%= post.description %></p>

            <%= link_to 'Read more', blog_path(post) %>
            <hr>
          </article>
      <% end %>
    <% end %>
  </div>
</div>