<div class="columns is-centered">

  <div class="column is-three-fifths is-size-5 is-size-5-mobile">
    <h1 class="title is-1">Posts</h1>
    <% if @posts.any? %>
      <% @posts.each do |date_and_month, list_of_posts| %>
        <header>
          <%= date_and_month %>
        </header>
        <% list_of_posts.each do |post| %>
          <article>
            <header>
              <h2 class="title is-3"><%= post.title %></h2>
            </header>
            <p class="has-text-grey is-size-6 mb-4"><%= post.publish_date.to_s(:date_pretty) %></p>


            <p class="mb-4"><%= post.description %></p>

          <%= link_to 'Read more', blog_post_path(post) %>
          <hr>
          </article>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>