<!DOCTYPE html>
<html>
  <head>
    <title>glennjamin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  </head>

  <body class="">
  <section class="section">
    <div class="container">
      <%= render 'layouts/navigation' %>

      <% flash.each do |type, msg| %>
        <div class="notification is-primary is-light">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </section>
  </body>
</html>
